.mainCanvas {
    width: 100%;
    border: solid 1px;
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: pixelated; /* Chrome */
    -ms-interpolation-mode: nearest-neighbor;
}
